<div id="app">
  <h1>
  Körperschwerpunkt berechnen
  </h1>
  <p>
  Dieses Tool berechnet aufgrund der Auswahl aller Gelenkpunkte (Knie, Knöchel, Schulter, Fussspitze usw.) den Körperschwerpunktes basierend auf einem Bild/Foto.
  </p>
  <p>
  Warum? z.B. Vergleich der Effizienz von Techniken (Hochsprung: Straddle vs Flop)
  </p>
  <hr>
<ol>
      <li>  <span v-if="!image">
    <p>Bild auswählen <small>(idealerweise höchstens 650x650 Pixel)</small>:</p>
    <input type="file" @change="onFileChange">
  </span>
  <span v-else>
    <!--<img :src="image" />-->
    <button @click="removeImage">Remove image</button>
  </span>
</li>
      <li><p>Alle Punkte im Bild setzen, dazu der hier angezeigten Reihenfolge nach im Bild klicken:<br />Nächster Klick im Bild für <b>"{{ nextJointPoint.name }}"</b><br><small>Je Klick erscheint ein schwarzer Punkt</small>.</p></li>
      <li><p><button @click="calculate_ksp">
  KSP berechnen und einzeichnen
  </button> <small>(Wird in gelber Farbe eingezeichnet, Teilkörperschwerpunkte in rot)</small></p></li>
    </ol>
  <p><small>Rechtsklick um das Bild zu speichern, Seite im Browser neuladen um neu zu beginnen.</small><!--<button @click='resetCanvas'>Zeichenfläche leeren</button>--></p>
  <canvas ref="canvas" id='drawing-pad' width='650' height='650'>
    This is an interactive drawing pad.
  </canvas>
  <div>
    <!--    <button @click='saveImage'>Bild zum speichern erzeugen</button>-->
  </div>
  <img ref="img" src="" id='canvas-image'>
  </div>
