body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
  font-weight: normal;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}
canvas {
  background: green;
  border: 1px solid red;
  cursor:crosshair;
}